matrix:
  include:
  - os: osx
    osx_image: xcode10.2
    language: node_js
    node_js: 12.18.3
    env:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
language: node_js
node_js: 12.18.3
cache:
  yarn: true
  directories:
  - node_modules
  - "$HOME/.cache/electron"
  - "$HOME/.cache/electron-builder"
script:
- yarn package_new
deploy:
  provider: releases
  skip_cleanup: true
  on:
    tags: true
  file: "release/*"
  api_key:
    secure: "ayzRAzkf4aXiOtoyul98fDwMf7Hec9SQVrRN22I9CyMnU40LBuhJgSjYXWzfvKwrhHmbu4+er9dTTq7GNh3LvX5CsP1qTJMS/0RH8kkvDAOEA9SFgBF
            taosQyJwUzPJwSRlDAqsKMH1phCTh0C9p28L5eGMRDRDJHwCdWWs8mFSvpBygM2n6IK6ECxHSJZJw2RFCwK8mtbJ7PQMzrfhsZf2Y0oTqxbDdQRDVAoWoAgH8BrTg6
            BED5yNArR3FriRXlidTZ4hiyQnkGgkeFAT7sejB31SLolvLA1d7sYCNwhb70kyO6HgYLV2hgdndCDd/T4AQ/Bobh0PKdvB0MFk7BAN4YeLIVDFV6HPkeiSAFVPeePo
            j7lhknzGdm2BISoA4AtIIx6qRK05BZYpcPSlq8yEgR8dZ1nFKvHZ108y9kmdUUK2el6f4iloXGUtqLUyYw/uEKz2ag0RZN+SWGw+J0AUZIxdJNReTcaPkY5yw5owIH
            Rzz8mZxvmCzZcy+z5GdB+0rYHaWCLjP5GNw65DiiyOLZQaP/W45N/C5QRL5Rhr/FGYSwexSQUxUSsevxpr8iO9wY61P8g9rmVpLpruPpBAvNrnb8q/TMvDh0F5hYMW
            9S/jNV72eOgExxGNN/LcI5UPmIa1Hlq4mfLqrauKWwv70ZOGjK9mlQNjADtHkBWE="
