.wrapper

  background-color: #fafbfe
  border-radius: 16px
  box-shadow: rgba(18, 58, 178, 0.04) 0 10px 10px
  padding: 24px 15px 24px 20px
  //transition: all 0.2s ease-in-out
  height: 100%
  display: flex
  flex-direction: column
  animation: appear 0.3s
  @keyframes appear
    0%
      opacity: 0
      transform: translate(0, -10px)
    100%
      opacity: 1
      transform: translate(0, 0)

  ::-webkit-scrollbar
    width: 5px
    transition: all 0.2s

  ::-webkit-scrollbar-thumb
    background: transparent
    transition: all 0.2s
    border-radius: 10px

  &:hover
    ::-webkit-scrollbar-thumb
      background: #7280d777
  .showDropMask,.hideDropMask
    width: 100%
    height: 100%
    border-radius: 16px
    background-color: white
    position: absolute
    z-index: 100
    left: 0
    top: 0
    border: 4px dotted #6b19ff
    transition: all 0.3s
  .showDropMask
    opacity: 0.5
  .hideDropMask
    pointer-events: none
    opacity: 0

  .dialogList
    display: flex
    flex-direction: column-reverse
    height: calc(100% - 75px)
    overflow-y: auto
    overflow-x: hidden
    padding: 6px
    margin-bottom: 5px
    .dialogInner
      height: fit-content
      display: flex
      flex-wrap: wrap
    .diagBox
      margin-top: 13px
      width: 100%
      display: flex
      flex-wrap: wrap
      height: fit-content
      @keyframes createBox
        from
          transform: scale(0)
        to
          transform: scale(1)
      .emoji
        font-size: 50px
        margin: -8px -8px -3px
        animation: createBox .25s
        animation-timing-function: cubic-bezier(0.13, 0.92, 0.65, 1.14)
      .pop
        animation: createBox .25s
        animation-timing-function: cubic-bezier(0.13, 0.92, 0.65, 1.14)
        padding: 12px
        border-radius: 10px
        width: max-content
        max-width: 80%
        position: relative
        text-align: justify
        min-width: 36px
        min-height: 36px
        height: fit-content
        overflow-wrap: break-word
        line-height: 20px
        white-space: pre-wrap
        .typeIcon
          font-size: 1.7em
          vertical-align: middle
        .image
          max-height: 160px
          margin-bottom: -6px
          max-width: 100%
          min-height: 20px
          object-fit: contain
        .link
          color: inherit
          text-decoration: none
      .time
        width: 100%
        color: #515465
        opacity: 0.6
        margin: 6px 0
        height: 18px
        .noTime
          font-size: 1.1em
      &.to
        text-align: right
        margin-right: 5px
        justify-content: flex-end
        .status
          position: relative
          &>*
            position: absolute
            bottom: 0
            left: -25px
            width: 18px
            height: 18px
          &>.loading
            width: 14px!important
            height: 14px!important
            left: -23px!important
            bottom: 2px!important
        .pop
          background-color: #6b19ff
          color: white
          border-bottom-right-radius: 0
          transform-origin: right bottom
          &:after
            position: absolute
            bottom: 0
            right: -5px
            content: ''
            border-bottom: #6B19FF 10px solid
            border-right: transparent 5px solid

      &.from
        text-align: left
        .status
          display: none
        .pop
          background-color: #edf2fc
          color: #515465
          border-bottom-left-radius: 0
          transform-origin: left bottom
          &:after
            position: absolute
            bottom: 0
            left: -5px
            content: ''
            border-bottom: #edf2fc 10px solid
            border-left: transparent 5px solid

  .inputBox
    width: 100%
    margin-right: 10px
    line-height: 70px
    border-radius: 16px
    background-color: white
    box-shadow: #e0e7f880 0 3px 30px
    display: flex
    align-items: center
    padding: 10px
    .picker
      position: absolute
      bottom: 81px
      right: 33px
      z-index: 1000
    .input
      width: calc(100% - 100px)
      line-height: 22px
      padding: 2px 2px 2px 5px
      & *
        border: none!important
