.Header
  width: 100vw
  height: 30px
  -webkit-app-region: drag
  background: #cbdef5
  padding: 0 10px
  //font-size: 14px
  //line-height: 14px
  user-select: none
  &>*
    height: 30px
  button
    padding: 0
    margin-left: 5px
    line-height: 30px
    font-size: 18px
    min-width: 30px
    height: 100%
    -webkit-app-region: no-drag
  .title
    width: 100%
    left: 0
    text-align: center
    line-height: 32px
    position: absolute
    font-size: 12px

