@font-face
  src: url("static/FZYouHJW_509R.ttf")
  font-family: 'FZYouH'

html
  overflow: hidden
  font-size: 15px
  body
    background: transparent
*
  font-family: 'FZYouH', sans-serif!important
::selection
  background: #6b19ff
  color: #f4f8fe


@import "~react-image-crop/dist/ReactCrop.css"
@import '~emoji-mart/css/emoji-mart.css'

.Signup
  .ReactCrop__image
    max-height: calc(100vh - 88px)

  .MuiInput-root
    margin-bottom: 20px
  .MuiFormGroup-root
    margin-bottom: 15px

  .MuiFormHelperText-root
    display: none
    position: absolute
    bottom: 0
  .MuiFormHelperText-root.Mui-error
    display: block
    position: absolute
    bottom: 0
  .MuiPickersCalendar-transitionContainer
    margin-bottom: 10px
.MuiLinearProgress-root
  position: absolute!important
  top: 0
  left: 0
  width: 100vw
  transition: 0.3s all
  height: 4px!important


.MuiAvatar-colorDefault
  color: #f4f7fe!important
  background-color: #5a5b5e!important

.MuiCollapse-entered
  margin: 0 auto
  position: relative
  top: 76px

.route
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%


// 帧动画
.fade-enter
  opacity: 0


.fade-enter.fade-enter-active
  opacity: 1
  transition: opacity 250ms


.fade-exit
  opacity: 1


.fade-exit.fade-exit-active
  opacity: 0
  transition: opacity 250ms

.main-window
  background: linear-gradient(#f5f8fe,#eff3fd)
  border-radius: 10px
  height: 100%
  width: 100%
  position: absolute
  //overflow: hidden
  right: 0
  &.mainStatus
    border-radius: 18px 0 0 18px
  &.shrink
    transition: 0.3s cubic-bezier(0.09, 0.55, 0.35, 0.99) width
    width: calc(100vw - 220px)
  &.noAnimate
    transition: none
#root
  background: linear-gradient(#b48dff,#687ed1)
  overflow: hidden
  border-radius: 10px
  margin: 10px
  height: calc(100vh - 20px)
  width: calc(100vw - 20px)
  //transition: 0.3s all
  box-shadow: #00000038 0 0 10px
  position: absolute
  top: 0
  left: 0
  &.mainStatus
    border-radius: 18px
.MuiBackdrop-root
  margin: 10px
  height: calc(100vh - 20px)
  border-radius: 10px
  overflow: hidden
.MuiPickersModal-dialogRoot
  box-shadow: #00000038 0 0 10px!important

.Main
  ul
    padding-left: 24px
    margin-top: 7px
  .MuiOutlinedInput-root
    border-radius: 16px
    border-color: transparent
    height: 100%
    ::placeholder
      color: #37437280
      opacity: 1
    .MuiOutlinedInput-notchedOutline
      border-color: transparent
      transition: all 0.2s
    &:hover:not(.Mui-error)
      .MuiOutlinedInput-notchedOutline
        border-color: #a48af5
  .MuiInputLabel-outlined
    transform: translate(20px, 20px) scale(1)
    color: #37437280

.MuiAvatar-img
  border-radius: 50%
.MuiBadge-anchorOriginTopRightRectangle:not(.MuiBadge-invisible)
  transform: scale(0.9) translate(50%, -50%) !important
